/* pagina mural */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  background-color: #120a04;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: "Josefin Sans", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #feac19;
  background-color: #000000;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Barlow", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #000000;
  background-color: #feac19;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Barlow", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: #000000;
  background-color: #feac19;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #feac19;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #120a04;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: #000000;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: #000000;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 250px;
  justify-content: center;
  background-color: #000000;
  font-size: 20px;
}

#card-aquario__detalhesCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Josefin Sans", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: 700;
}

#card-aquario__detalhesCard img {
  width: 15%;
  height: auto;
}

.card-aquario h1 {
  width: fit-content;
  margin: 0;
}

.card-aquario p {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  color: #feac19;
}

.card-aquario li {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  color: #feac19;
  text-decoration: none;
  list-style: none;
}

.card-aquario:hover {
  cursor: pointer;
  transition: transform 1.2s;
  transform: scale(1.1);
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}

.cards h1 {
  font-size: 22px;
  color: #feac19;
  border-bottom: solid #feac19 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Barlow", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #feac19;
  background-color: #000000;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-pink {
  color: #000000;
  background-color: #feac19;
}

.btn-white {
  color: #feac19;
  background-color: #000000;
}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: #000000;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #feac19;
  background-color: #000000;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: #000000;
  background-color: #feac19;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #000000;
  border: 3px solid #feac19;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #feac19;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #feac19;
  color: #000000;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* Parte dashboard */

.graficos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#graficos_linha {
  width: 100%;
  color: #feac19;
  margin-left: 10%;
  margin-bottom: 5%;
}

#graficos_barra {
  width: 100%;
  color: #feac19;
  margin-left: 10%;
  margin-bottom: 5%;
}

.conjuntoBlocos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  width: 125px;
  height: 125px;
  color: #feac19;
  background-color: #000000;
  border: #feac19 solid 3px;
  text-align: center;
  border-radius: 15px;
}

#graficos_colunas_blocos {
  display: flex;
  flex-direction: row;
}

.graficos_donut {
  display: flex;
  flex-direction: row;
  margin: 5%;
  flex-wrap: wrap;
}

.donuts_individuais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #feac19;
  width: 45%;
  margin: 2.5%;
}

/* Quadro de personagens */

.dash-right-personagem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right-personagem-container {
  width: 100%;
  height: 100%;
}

#painelPersonagem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  color: #feac19;
}

.partePainel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 3rem;
}

#painel_2 img {
  width: 60%;
}

.informacao__registro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.div_cards {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  padding: 1.5rem;
  margin: 1rem;
  width: 85%;
}

.div_cards span {
  color: #ffffff;
  font-size: 24px;
}

#div_desempenho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#line {
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 45%;
  border: #ffffff 1px solid;
  background-color: #ffffff;
}

#div_cards_titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

#div_cards_titulo h1 {
  margin: 0px;
}

/* Parte Criacao personagens  */

.containerCriacaoPersonagem h3 {
  color: #feac19;
  font-size: 38px;
  text-align: center;
}

select {
  font-size: 20px;
  padding: 10px;
  width: 250px;
  border-radius: 15px;
  border: 5px solid #ecdcba;
  background-color: #4a3a19;
  color: #ffffff;
  font-family: "Josefin Sans", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.containerCriacaoPersonagem {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.dash__criacaoPersonagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  font-size: 28px;
  color: #ffffff;
  text-align: justify;
}

.dash__criacaoPersonagem h1 {
  color: #feac19;
  font-size: 42px;
}

.dash__criacaoPersonagem__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash__criacaoPersonagem__div img {
  width: 50%;
}

.dash__div_cards_informacoes {
  display: flex;
  width: 100%;
}

.dash__div_cards_informacoes__card {
  background-color: rgba(0, 0, 0, 0.35);
  width: 50%;
  margin: 1%;
  padding: 2.5%;
  border-radius: 15px;
}

.botaoCriacaoPersonagem {
  background-color: #feac19;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-family: "Josefin Sans", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 32px;
  margin: 15px;
}

.botaoCriacaoPersonagem:hover {
  background-color: #000000;
  color: #feac19;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #feac19;
}

#avisoAtributo {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  margin: 1%;
  padding: 2.5%;
  border-radius: 15px;
  text-align: center;
}

.input__radio {
  width: 20px;
  height: 20px;
}
/* FIM PARTE ATRIBUTOS */
/* INICIO PARTE HABILIDADES */

.div_cards_titulo_checkbox {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.div_cards_titulo_checkbox input {
  height: 40px;
  width: 40px;
  margin: 0px;
}

#dash__div_cards_informacoes__habilidadesEspecificas {
  align-items: center;
  justify-content: center;
}

/* FIM HABILIDADES */
/* PARTE APTIDAO */

#informacao__registro__radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  width: 100%;
}

#informacao__registro__radio input {
  height: 40px;
  width: 40px;
  margin: 0px;
}

#avisoAptidao {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  margin: 1%;
  padding: 2.5%;
  border-radius: 15px;
  text-align: center;
}

/* PARTE APARÊNCIA */

#ipt_nomePersonagem {
  border: none;
  outline: none;
  font-style: normal; /* Remove itálico por padrão */
  text-decoration: none; /* Remove sublinhado por padrão */
  -webkit-appearance: none; /* Remove estilos de navegador padrão */
  -moz-appearance: none;
  appearance: none;
  color: #ecdcba;
  background-color: #120a04;
  border-bottom: 5px solid #ecdcba;
  border-radius: 0px;
  font-size: 42px;
  padding: 10px;
  width: 70%;
  font-family: "Josefin Sans", "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

#criacaoPersonagem__aparencia__sexo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#radio__sexo {
  height: 40px;
  width: 40px;
}

.criacaoPersonagem__aparencia__sexo__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.criacaoPersonagem__aparencia__sexo__card img {
  width: 50%;
}

.criacaoPersonagem__aparencia__sexo__card #informacao__registro__radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  font-size: 38px;
  color: #feac19;
}

/* PARTE FALHAS */

#labelFalhas {
  font-size: 28px;
  text-align: center;
}

/* PARTE TOKEN */

#dash__div_cards_informacoes__card__tokens {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #120a04;
}

#cardTokens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  padding: 5%;
}

#cardTokens img {
  width: 150px;
}

#cardTokens input {
  height: 40px;
  width: 40px;
  margin: 0px;
}

/* PARTE COMPANHEIROS */

#dash__div_cards_informacoes__card__companheiros {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #120a04;
}

#cardCompanheiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  padding: 5%;
}

#cardCompanheiros img {
  width: 250px;
  border-radius: 15px;
}

#cardCompanheiros input {
  height: 40px;
  width: 40px;
  margin: 0px;
}

/* PARTE RESUMO */

#dash__criacaoPersonagem__resumo {
  width: 100%;
  display: flex;
}

#dash__div_cards_informacoes__habilidadesResumo {
  display: flex;
}

#cardHabilidadeResumo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#cardInfoResumo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#informacao__registro__resumo {
  justify-content: space-between;
  width: 100%;
}

#informacao__registro__resumo #line {
  width: 40%;
}

#cardHabilidadeResumo #line {
  width: 40%;
}

#cardImagemResumo {
  width: 200px;
}

#avisoCriacaoPersonagem {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  margin: 1%;
  padding: 2.5%;
  border-radius: 15px;
  text-align: center;
}
